h1 {
	text-align: center;
	margin-top: 20px;
}

#status {
	text-align: center;
	font-size: 24px;
	margin-top: 20px;
}

#message {
	text-align: center;
	font-size: 24px;
	margin-top: 20px;
}

#buttons {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

button {
	font-size: 24px;
	margin-right: 10px;
}
